.spinnerDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Células do calendário (clicáveis) */
.dayCell {
    cursor: pointer;
}

/* Eventos */
.event {
    width: 100%;
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    background-color: var(--deep-blue);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.eventDeleteBtn {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}
