.materialItem {
    width: 20rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    color: var(--dark-gray);
    background-color: var(--light-gray);
    border: 2px solid transparent;
    border-radius: 12px;
    box-shadow: var(--box-shadow-1);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        border: 2px solid var(--dark-moss-green);
    }

    &.highlight {
        border: 3px solid var(--red-alert);
        
        &:hover { 
            border: 3px solid var(--red-alert-hover);
            box-shadow: 0px 2px 3px 1px rgba(173, 0, 0, 0.6);
        }
    }
}

.imageContainer {
    width: 100%;
    height: 45%;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

.materialImage {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #fff;
}

.materialData {
    height: 55%;
    padding: 12px;
    display: flex;
    flex-direction: column;

    color: var(--dark-gray);
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.materialName {
    color: var(--deep-blue);
    line-height: 2rem;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.materialCategory {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.materialStockQuantity {
    color: #49454f;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 6px;
}

.actionsContainer {
    margin-top: auto;
    width: 100%;
    display: flex;
}

.actionBtn {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
}

.deleteBtn {
    background-color: var(--red-alert);
    align-self: flex-start;

    &:hover {
        background-color: var(--red-alert-hover);
    }
}

.removeStockBtn {
    border: 1px solid var(--dark-moss-green);
    margin-left: auto;
    margin-right: 5px;

    &:hover {
        background-color: var(--mint-green);
    }

    img { filter: invert(48%) sepia(62%) saturate(290%) hue-rotate(116deg) brightness(99%) contrast(90%); }
}

.addStockBtn {
    background-color: var(--dark-moss-green);

    &:hover {
        background-color: var(--dark-moss-green-hover);
    }
}
