.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid var(--deep-blue);
    border-radius: 8px;
    z-index: 1000;
    font-family: var(--font-inter);
}

.modalHeader {
    display: flex;
    justify-content: center;
    padding: 1.3rem;
    background-color: var(--deep-blue);
    color: #fff;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.modalContent {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 2.4rem 2.4rem 2.4rem;
    gap: 1.8rem;
}

.imgContainer {
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}

.materialImage {
    width: 100px;
    height: 100px;
    border: 1px solid var(--deep-blue);
    border-radius: 8px;
    object-fit: cover;
    margin-right: 1.6rem;
}

.selectImgBtn {
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--deep-blue);
    color: var(--deep-blue);
    margin-bottom: 0.8rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
}

.imgDetails {
    line-height: 1.4rem;
    font-size: 1.0rem;
    color: #78909C;
}

.actionsContainer {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}