.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    font-family: var(--font-inter);
    z-index: 1000;
}

.modal.blue { border-color: var(--deep-blue); }
.modal.green { border-color: var(--dark-moss-green); }
.modal.red { border-color: var(--red-alert); }

.modalHeader {
    display: flex;
    justify-content: center;
    padding: 1.3rem;
    color: #fff;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.modalHeader.blue { background-color: var(--deep-blue); }
.modalHeader.green { background-color: var(--dark-moss-green); }
.modalHeader.red { background-color: var(--red-alert); }

.modalContent {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 2.4rem 2.4rem 2.4rem;
    gap: 1.8rem;
}

.imgContainer {
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
    margin: auto;
}

.materialImage {
    width: 160px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    object-fit: contain;
    background: #d9d9d9;
    margin-right: 1.6rem;

    &.blue { border-color: var(--deep-blue) }
    &.green { border-color: var(--dark-moss-green) }
    &.red { border-color: var(--red-alert) }
}

.selectImgBtn {
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 0.8rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;

    &.blue {
        border-color:var(--deep-blue);
        color: var(--deep-blue);
    }

    &.green {
        border-color:var(--dark-moss-green);
        color: var(--dark-moss-green);
    }

    &.red {
        border-color:var(--red-alert);
        color: var(--red-alert);
    }
}

.imgDetails {
    line-height: 1.4rem;
    font-size: 1.0rem;
    color: #78909C;
}

.actionsContainer {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

/* Material Stock Modal */
.stockQuantity {
    margin: auto;
    color: #B3B3B3;
    font-family: var(--font-inter);
    line-height: 2.6rem;
    font-size: 2.4rem;
    text-align: center;
}

.stockQuantity .blue { color: var(--deep-blue); }
.stockQuantity .green { color: var(--dark-moss-green); }
.stockQuantity .red { color: var(--red-alert);}
