.btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: #fff;
  color: var(--deep-blue);
  border: 1px solid var(--deep-blue);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--deep-blue);
  color: #fff;
}

.btn.active {
  background-color: var(--deep-blue);
  border-color: var(--deep-blue);
  color: #fff;
  font-weight: 500;
}

.btn.active:hover {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}