.sectionContentContainer {
    margin-top: 20px;
    max-height: calc(100vh - 338px);
    padding: 0 2px 6px 2px;
    overflow-y: auto;
}

.sectionContentContainer.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sectionContentContainer.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 32px;
}