.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid var(--dark-moss-green);
    border-radius: 8px;
    font-family: var(--font-inter);
    z-index: 1000;
}

.modalHeader {
    display: flex;
    justify-content: center;
    padding: 1.3rem;
    background-color: var(--dark-moss-green);
    color: #fff;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.modalContent {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
}

.modalMessage {
    color: var(--font-black);
    font-family: var(--font-inter);
    line-height: 2.6rem;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.6rem;
}

.modalSubMessage {
    color: #909090;
    font-family: var(--font-inter);
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.actionsContainer {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 1.8rem;
}

.actionBtn {
    width: 11rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.8rem;

    img {
        width: 100%;
        height: 100%;
    }
}