.page {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.contentContainer {
    flex: 1;
}

.sectionContainer {
    padding: 40px;
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}